@model Garage.Models.Auto

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/createauto.css"/>
</head>
<body>
    <h1>Voeg een auto toe</h1>

    <form asp-action="Create" autocomplete="off">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="AutoKenteken"></label><br />
        <input class="inputbox" asp-for="AutoKenteken" />
        <span asp-validation-for="AutoKenteken"></span><br /><br />
        <label asp-for="AutoMerk"></label><br />
        <input class="inputbox" asp-for="AutoMerk" />
        <span asp-validation-for="AutoMerk"></span><br /><br />
        <label asp-for="AutoType"></label><br />
        <input class="inputbox" asp-for="AutoType" />
        <span asp-validation-for="AutoType"></span><br /><br />
        <label asp-for="EigenaarNaam"></label><br />
        <input class="inputbox" asp-for="EigenaarNaam" />
        <span asp-validation-for="EigenaarNaam"></span><br /><br />
        <input class="submitbttn" type="submit" value="Submit" />
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>