* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body {
    margin: 1rem;
}

header {
    margin-bottom: 2rem;
}

#autos {
    border-collapse: collapse;
    width: 70%;
    margin-top: 2rem;
}

#autos td, #autos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#autos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#autos tr:hover {
    background-color: #ddd;
}

#autos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c88af;
    color: white;
}

.action-bttn {
    text-decoration: none;
    color: #fff;
    background-color: #4c88af;
    padding: 0.75rem 0.5rem;
    border-radius: 10px;
}

.action-bttn:hover {
    background-color: #4c88af;
    transition: 1s;
}